.editor-container {
  width: 45%;
}
.codemirror-editor {
  height: 75vh;
  width: 200%;
}
.button-container {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 30px;
}

.cm-editor {
  height: 75vh;
  margin-bottom: 30px;
  border: 3px solid gray;
}
.output {
  width: 50%;
  font-size: 30px;
  font-weight: bold;
}
.button {
  background-color: darkgreen;
  color: white;
}
.test {
  background-color: black !important;
  color: white;
  font-weight: bolder;
}
.table-container {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 30px;
}
