.table {
  width: 35%;
  border: 1px solid #66b0b2;
  height: min-content;
}
.table-header {
  border-bottom: 1px solid #66b0b2;
  background-color: #66b0b2;
  display: flex;
  gap: 10px;
  color: #000;
  align-items: center;
  text-transform: uppercase;
}
.table-header div {
  width: 50%;
  text-align: center;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #3e7674;
  gap: 10px;
}
.table-row:last-child {
  border-bottom: 0;
}

.table-row div {
  width: 50%;
  padding: 0 5px;
  /* text-align: center; */
}
.table-row :nth-child(2) {
  text-align: end;
}
.hidden {
  display: none;
}
.add-data {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expand-button {
  cursor: pointer;
}
.arrow {
  width: 20px;
  padding: 3px;
}
.text {
  font-size: 0.875rem;
}
